
# Core automation
ansible-core==2.20.1

# Molecule + Docker driver
molecule==25.12.0
molecule-plugins[docker]==25.8.12

# Linting & quality
ansible-lint==26.1.1
yamllint==1.35.1

# Python tooling
jinja2==3.1.6
pyyaml==6.0.3
packaging==26.0
rich==14.3.2

# SSH / crypto
paramiko==4.0.0
cryptography==46.0.5

# Test helpers
pytest==9.0.2

# NetDevOps
netaddr==1.3.0
jinja2==3.1.6
pynautobot==3.0.0
pynetbox==7.6.0
jmespath==1.0.1