
# Core automation
ansible-core==2.20.1

# Molecule + Docker driver
molecule==6.0.3
molecule-plugins[docker]==23.5.3

# Linting & quality
ansible-lint==24.12.2
yamllint==1.35.1

# Python tooling
jinja2==3.1.6
pyyaml==6.0.3
packaging==24.0
rich==13.7.1

# SSH / crypto
paramiko==3.4.0
cryptography==44.0.3

# Test helpers
pytest==8.1.1

# NetDevOps
netaddr==1.3.0
jinja2==3.1.6
pynautobot==2.7.2
pynetbox==7.5.0
jmespath==1.0.1